<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/head.html}"></th:block>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="main-title mb-4">
    <h1>School Management</h1>
    <h2>ようこそ、<th:blok th:text="${teacher.lastName}" />さん</h2>
</div>
<div class="content mt-4">
    <ul>
        <li>
            <a href="/auth/team/new">グループの作成</a>
        </li>
    </ul>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation" th:each="team, teamStat : ${teams}">
        <button
                th:class="'nav-link ' + ${teamStat.first ? 'active' : ''}"
                th:id="${team.getId()} + '-tab'"
                data-bs-toggle="tab"
                th:data-bs-target="'#id-' + ${team.getId()}"
                type="button"
                role="tab"
                th:aria-controls="'controls-id-' + ${team.getId()}"
                th:aria-selected="${teamStat.first}"
        >
            <th:block th:text="${team.getName()}" />
        </button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div
            th:each="team, teamStat : ${teams}"
            th:class="'tab-pane fade ' +${teamStat.first ? 'show active' : ''}"
            th:id="'id-' + ${team.getId()}"
            role="tabpanel"
            th:aria-labelledby="${team.getId()} + '-tab'"
    >
        ここには<th:block th:text="${team.getName()}" />に登録されている生徒の一覧が表示される予定です
    </div>
</div>

<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-primary">ログアウト</button>
</form>
</body>
</html>