<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/head.html}"></th:block>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="main-title mb-4">
    <h1>School Management</h1>
    <h2>ようこそ、<th:blok th:text="${teacher.lastName}" />さん</h2>
</div>
<div class="content mt-4">
    <ul>
        <li>
            <a href="/auth/team/new">グループの作成</a>
        </li>
    </ul>
</div>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-primary">ログアウト</button>
</form>
</body>
</html>