<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/head.html}"></th:block>
    <link rel="stylesheet" href="/css/auth/update.css">
</head>
<body>
<div class="main-title mb-4">
    <h1>School Management</h1>
    <h2>情報の変更</h2>
</div>

<th:block th:insert="~{fragment/alert.html}"></th:block>

<div class="content mt-4">
    <form method="post" th:action="@{/auth/update}">
        <div class="mb-3">
            <label for="beforeTeacherPw" class="form-label">変更前のパスワード</label>
            <input type="password" class="form-control" id="beforeTeacherPw" placeholder="変更前のパスワード" name="beforePw">
        </div>
        <div class="mb-3">
            <label for="teacherFirstName" class="form-label">姓</label>
            <input type="text" class="form-control" id="teacherFirstName" placeholder="苗字" name="firstname">
        </div>
        <div class="mb-3">
            <label for="teacherFirstName" class="form-label">名</label>
            <input type="text" class="form-control" id="teacherLastName" placeholder="名前" name="lastname">
        </div>
        <div class="mb-3">
            <label for="teacherPw" class="form-label">パスワード</label>
            <input type="password" class="form-control" id="teacherPw" placeholder="パスワード" name="pw">
        </div>
        <button type="submit" class="btn btn-primary">変更</button>
    </form>
</div>

<script src="/js/auth/home.js"></script>
</body>
</html>